body{
        overflow: hidden;
}
.menuP1{
    width: 230px;
    height: 290px;
    position: absolute;
    margin: 215px 0 0 39px;
}
.cajaResalt{
    cursor: pointer;
    margin: 0 0 10px 0;
}
.btnExtras{
    position: absolute;
    margin: 310px 0 0 788px;
}

.cls{
    position: absolute;
    right: -6px;
    top: -11px;
    cursor: pointer;
}